.control-panel {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__btn {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
}

.btn-controller {
  width: 23%;
  font-size: 1.5rem;
  background-color: #bdecb6;
  border: 1px solid #32cd32;
  border-radius: 10%;
  cursor: pointer;

  &:hover {
    background-color: #32cd32;
  }
}


.dark{
  background-color: #082118;
  color:#fff
}